<h1>Clientes</h1>
<div class="clientes">
  <p>En estos años hemos trabajado con más de 1,000 familias ya sea en casas
  particulares, fiestas o lugares de hospedaje.<br>
  <br>
  Somos la agencia de niñeras de toda la cadena <i>Luxury Collection</i> en
  Yucatán y Campeche, dándoles servicio en <i>The Haciendas</i> y conservamos
  relaciones con hoteles como <i>Presidente Intercontinental</i>,
  <i>Hacienda Misné</i>, <i>Hacienda Xcanatún</i> y <i>Chable Resort</i>
  <b>(considerado el mejor hotel de Latinoamérica)</b>.<br>
  <br>
  Damos servicio en las bodas más bellas realizadas en la península, gracias a
  los organizadores de eventos locales y de destino ya sea en <b>español, inglés
  o francés</b>.<br>
  <br>
  Si vives en Mérida y deseas contratar nuestros servicios es necesario pasar un
  proceso de seguridad y
  <a href="https://m.me/www.fairynanny.com.mx?fbclid=IwAR0Pl0rHgwXQRvptWSsvCXtLFGJyYUjQekeEephYUYvHSBrqkJ5sJjri-rg">
  registro</a>, te daremos tarifas de cliente frecuente desde
  tu primer servicio. Si vienes de <span>visita o no deseas pasar el proceso
  manejamos otro proceso de seguridad</span>, puedes ver más de la tarifa que te
  corresponde en nuestro apartado
  <a href="#">De visita en Yucatán y Campeche</a></p>
</div>
