<% provide(:title, 'Contacto') %>
<h1>Contacto</h1>
<p>
  Para solicitar el proceso de verificacion de identidad, puede ingresar sus
  datos <a href="#">acontinuacion</a><br>
  <br>
  si desea solicitar servicio favor de contactarse al <a href="#">chat</a> o
  al 99999568503
</p>
