<% provide(:title, "Help") %>
<h1>Ayuda/Contacto</h1>
<div class="ayuda">
  <p>
    <ul>
      <li><a href="https://www.facebook.com/www.fairynanny.com.mx/">
      pagina de Facebook</a></li>
      <li><%= mail_to "calidad@fairynanny.mx", "Contacto" %></li>
    </ul>
  </p>
</div>
