<h1>Historia</h1>
<div class="historia">
  <p>Hola! Soy <b>Marina Correa</b>. En 2007 cuando inicié la agencia tenía 19
  años y un equipo con muchas ideas y vocación. La agencia inició gracias a un
  Kinder en <span class="underline">Mérida</span> llamado <i>Alison Place</i> y
  a <span class="underline">4</span> amigas que junto conmigo
  <span class="underline">empezaríamos</span> un camino en el que
  <span class="underline">muchas más emprenderían</span> esta bella aventura.<br>
  <br>
  El objetivo de la agencia siempre ha sido darles a los niños todo nuestro
  cariño y <span class="underline">paciencia</span>, hacer todo lo posible para
  que su infancia sea sana y divertida, creo fielmente que para un mundo mejor
  debemos empezar con <span class="underline">nosotros</span>, debemos preservar
  la inocencia en los niños y cuidar sus <span class="underline">valores</span>
  y autoestima.<br>
  <br>
  Ahora que soy mamá de un niño y una niña es mi propósito seguir con esta tarea
  y jamás rendirme, ya que todos los niños se lo merecen.</p>
</div>
