<div class="split left">
 <div class="homecentered">
   <nav class="menu">
     <input type="checkbox" href="/images/logo1.jpeg" class="menu-open" name="menu-open" id="menu-open">
     <label class="menu-open-button" for="menu-open">
       <span class="lines line-1">hola</span>
       <span class="lines line-2">mundo</span>
       <span class="lines line-3">cruel</span>
     </label>

     <a href="/images/logo1.jpeg" class="menu-item item-1">niñeras</a>
     <a href="#" class="menu-item item-2">barca</a>
     <a href="#" class="menu-item item-3">rails</a>
     <a href="#" class="menu-item item-4">ruby</a>
     <a href="#" class="menu-item item-5">mexico</a>
     <a href="#" class="menu-item item-6">london</a>
   </nav>
 </div>
</div>

<div class="split right">
 <div class="homecentered">
   <nav class="menu">
     <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open">
     <label class="menu-open-button" for="menu-open">
       <span class="lines line-1">hey</span>
       <span class="lines line-2"></span>
       <span class="lines line-3"></span>
     </label>

     <a href="#" class="menu-item item-1"></a>
     <a href="#" class="menu-item item-2"></a>
     <a href="#" class="menu-item item-3"></a>
     <a href="#" class="menu-item item-4"></a>
     <a href="#" class="menu-item item-5"></a>
     <a href="#" class="menu-item item-6"></a>
   </nav>
 </div>
</div>
