<div class="split left">
 <div>
   <input type="checkbox" id="menu_opener_id" class="menu_opener">
     <label for="menu_opener_id" class="menu_opener_label"></label>
     <div class="barre_hamburger"></div>
     <a href="#" class="link_one link_general"></a>
     <a href="#" class="link_two link_general"></a>
     <a href="#" class="link_three link_general"></a>
     <a href="#" class="link_four link_general"></a>
   </input>
 </div>
</div>

<div class="split right">
 <div class="right-button" >
   <button class="btn-right">
     <img src="images/logo1.jpeg" />
   </button>
 </div>
</div>
