<% provide(:title, "Nannies") %>
<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= yield(:title) %> | Ellos se divierten, Ustedes tambien.</title>
  </head>
  <body>
    <h1>Nuestras Nannies</h1>
    <div class="nannies">
      Cada una de las personas que están en nuestro equipo pasa un proceso de
      reclutamiento, en él hacemos entrevistas, pruebas psicométricas y
      vocacionales, entran en un <span class="underline">periodo</span> de
      prueba y capacitación para poder pertenecer a la agencia.<br>
      <br>
      Todas son mayores de 19 años, estudiantes de universidad, maestría o
      recién egresadas. Algunas con un segundo o tercer idioma. Vienen de
      diferentes licenciaturas e ingenierías ya que la
      <span class="underline">vocación y el interés</span> por los niños es lo
      más importante y la preparación es de nuestra competencia.<br>
      <br>
      Les impartimos cursos cada mes y todos son relacionados al cuidado y
      entretenimiento de los niños, su propio bienestar y de educación social y
      ecológica. Nuestras principales capacitaciones son: Primeros auxilios para
      bebés y niños, inteligencia emocional, manejo de berrinches, prevención de
      riesgos y accidentes, cuidado y seguridad en piscina, juegos y actividades,
      etc.
    </div>
  </body>
</html>
