<% provide(:title, "Servicios") %>
<h1>Servicios</h1>
<div class="servicios">
  <div class="casas-particulares">
    <h2>Casas particulares</h2>
    <p>Fijos: En este servicio se establecen días y horarios, deben ser al menos
    15 horas a la semana y se hace un compromiso por 3 meses. El pago es mensual
    como colegiatura y se paga por adelantado, por lo que firmamos un contrato
    en donde la empresa se compromete a <span class="underline">brindarte</span>
    el servicio en el tiempo acordado.<br>
    <br>
    <span class="underline">Es restrictivo</span> ya que se hace un descuento
    del <i>25%</i> de la tarifa regular, quedando en <i>$60 por hora</i>, más el
    <b>transporte diario</b>.<br>
    <br>
    Además incluye una cita previa en la que les conocemos como familia,
    conocemos el tipo de educación que quieren para sus hijos y las expectativas
    del servicio, con base en esto hacemos la selección del personal y les damos
    un <i>programa de actividades semanales</i> a modo de sugerencia, éstas,
    estarán diseñadas para mejorar las áreas que previamente hayan recalcado
    ustedes en la primera junta. También haremos reuniones <i>mensuales</i> en
    las que además de hacer el contrato del siguiente mes podremos hacer una
    retroalimentación del servicio, ya sea para tomar en cuenta sus
    observaciones de lo que les ofrecemos o para mencionarles algún área de
    oportunidad que hayamos detectado en sus niños y sugerir algunas actividades
    para que alcancen todo su potencial.

    <table>
      <tr>
        <th>Minimo de horas</th>
        <th>15 a la semana (contrato de tres meses)</th>
      </tr>
      <tr>
        <th>Máximo de niños</th>
        <th>3 por niñera (dependiendo de las edades)</th>
      </tr>
      <tr>
        <th>Condiciones de pago</th>
        <th>25% de descuento de la tarifa aplicable pagando anticipadamente por
        mes</th>
      </tr>
      <tr>
        <th>Tarifa regular</th>
        <th>$80(por uno o dos niños) $120(por tres niños)</th>
      </tr>
      <tr>
        <th>Servicio incluye</th>
        <th>Selección especial de la niñera que les apoyará, programa de
        actividades diseñado para tus niños, control de calidad y seguimiento
        del desarrollo de tus niños.</th>
      </tr>
    </table>
    *Todas nuestras tarifas son más apoyo de transporte e IVA.
    </p>
  </div>
  <div class="esporadicos">
    <h2>Esporádicos</h2>
    <p>El servicio favorito de la agencia.</p>
  </div>
</div>
