@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #FF338D;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #FF338D;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #718BE3;
    text-decoration: none;
  }
}

/* logo */
.container-logo {
    width: 150px;
    height: 80px;
}

.container-logo img {
    width: 75%;
    height: auto;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

.navbar-right {
  letter-spacing: -.5px;
  font-size: 1.2em;
}

/* Home */

/* Split the screen in half */
.split {
 height: 100%;
 width: 50%;
 position: fixed;
 z-index: 1;
 top: 0;
 overflow-x: hidden;
 padding-top: 20px;
}

/* Control the left side */
.left {
 left: 0;
 background-color: #111;
}

/* Control the right side */
.right {
 right: 0;
 background-color: red;
}

/* If you want the content centered horizontally and vertically */
.centered {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
 width: 150px;
 border-radius: 50%;
}
