/* general */
.underline {
  text-decoration: underline;
}

/* Servicios */
servicios {
  &:casas-particulares{
    font-weight: bold;
  }
}

table, th, td {
  border-collapse: collapse;
  border: 1px solid black;
  width: auto;
  height: 50px;
  text-align: center;
  padding: 10px;
}
