<footer class="footer">
  <small>
    Fairy Nanny es una empresa 100% Mexicana originaria de Mérida, Yucatán
  </small>
  <nav>
    <ul>
      <li><%= link_to "Sobre nosotros",   historia_path %></li>
      <li><%= link_to "Contacto",         contact_path %></li>
      <li><a href="https://www.facebook.com/www.fairynanny.com.mx/">Noticias</a></li>
    </ul>
  </nav>
</footer>
